body {
    background-color: #FCFFF5;
    margin: 0px auto;
    width: 60%;
}

h2, p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

p, img {
    font-size: 1em;
    padding: 5px 0 5px;
    width: 70%;
    margin: 0px auto;
}

/* Quotes */
pre {
    font-size: 1.2em;
    font-style: italic;
    width: 40%;
    margin: 0px auto;
    padding: 3.5em;
}

h2 {
    color: #193441;
    font-size: 2.5em;
    text-decoration: underline;
    text-align: center;
}

img {
    padding: 1em 0 1em;
    width: 500px;
}

.toc {
    text-align: center;
    margin: 0px auto;
}

p {
    line-height: 1.5;
}
