body {
    background-color: white;
}

section {
    background-color: #f0fff0;
}

li {
    color: pink;
}

a, li, h2, h3, h4, h5, h6, p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: blue;
}

.navbar-default {
    background-color: blue;
}

.navbar-nav > li > a {
    border: solid black;
    border-width: thin;
    background: linear-gradient(0deg, orange, yellow);
}

.page-header {
    background-color: #ff1493;
}

.page-header h2 {
    color: black;
    text-align: center;
}

.page-header small {
    color: white;
}

a.navbar-brand {
    font-size: 3em;
    color: white !important;
}

p {
    background-color: #ffd700;
    color: blue;
}
